header.header
  .container
    .header-logo
      img(src="assets/img/logo.png").header-logo__image
    nav.navigation
      ul.block_nav
        li.block_nav-item
          a(href="#").item.active Головна
        li.block_nav-item
          a(href="#").item Блог
        li.block_nav-item
          a(href="#").item.accordion.active_accordion Портфоліо
          .accordion_list
            a(href="#").item.accordion.accordion_list-item текс
            a(href="#").item.accordion.accordion_list-item текс
