section.body-container
  .container
    .info-block Якись текст
    .read-more
      .read-more_item
        .item-container
      .read-more_item
        .item-container
      .read-more_item
        .item-container
      .read-more_item
        .item-container
