extends ../standart.pug
include ../partials/title.pug

block title
  +title("Головна")
block content
  include ../partials/_header.pug
  include ../partials/_slider.pug
  include ../partials/_index.pug